[
  {test_project, [
    {db, [
      {host, "127.0.0.1"},
      {username, "postgres"},
      {password, "kd050701"},
      {database, "test_project"}
    ]}
  ]},

  {lager, [
    {handlers, [
      {lager_console_backend, [{level, info}]},
      {lager_file_backend, [{file, "debug.log"}, {level, debug}]},
      {lager_file_backend, [{file, "info.log"}, {level, info}]},
      {lager_file_backend, [{file, "warning.log"}, {level, warning}]},
      {lager_file_backend, [{file, "error.log"}, {level, error}]}
    ]}
  ]},

  {erlcron,[
    {crontab,[
      {{daily, {0, 1, 0}}, {test_project_session, delete_old_sessions, []}}
    ]}
  ]}

].